.App {
  text-align: center;
}

.AvatarPlace {
  height: 240px;
  width: 240px;
  background-color: blueviolet;
}

.Avatar {
  width: 200px;
  height: 200px;
}

.upload {
  opacity: 0;
  position: absolute;
}

.uploadLabel {
  height: 50px;
  width: 100px;
  background-color: aquamarine;
}